.jumbotron {
	
	background-image: url('/img/logo_bokeh.jpg');
	height: 250px;
	
	}
	
.navbar-default {

	background-color: #003399;
	height:27px;



}
	

	
.navbar .nav > li > a {
	color:  #D0D0D0 ;
}



.navbar-default .nav-tabs > .active > a{
	color: #3399FF;
}


